@page
@model MovieLand.Web.Pages.Admin.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" placeholder="Enter movie title..."/>
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Slug" class="control-label"></label>
                <input asp-for="Movie.Slug" class="form-control" placeholder="Enter movie slug..."/>
                <span asp-validation-for="Movie.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.PictureUri" class="control-label"></label>
                <input asp-for="Movie.PictureUri" class="form-control" placeholder="Enter movie picture URL..."/>
                <span asp-validation-for="Movie.PictureUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseYear" class="control-label"></label>
                <input asp-for="Movie.ReleaseYear" class="form-control" placeholder="Enter movie release year..."/>
                <span asp-validation-for="Movie.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Summary" class="control-label"></label>
                <input asp-for="Movie.Summary" class="form-control" placeholder="Enter movie summary..."/>
                <span asp-validation-for="Movie.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <input asp-for="Movie.Description" class="form-control" placeholder="Enter movie description..."/>
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Duration" class="control-label"></label>
                <input asp-for="Movie.Duration" class="form-control" placeholder="Enter movie duration in minutes..."/>
                <span asp-validation-for="Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.UnitPrice" class="control-label"></label>
                <input asp-for="Movie.UnitPrice" class="form-control" placeholder="Enter movie price..."/>
                <span asp-validation-for="Movie.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.UnitsInStock" class="control-label"></label>
                <input asp-for="Movie.UnitsInStock" class="form-control" placeholder="Enter movie quanitity in stock..."/>
                <span asp-validation-for="Movie.UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DirectorIds" class="control-label"></label>
                @if (Model.DirectorOptions != null)
                {
                    <select class="directorsSelect w-100 align-content-center" asp-for="@Model.DirectorIds" asp-items="@Model.DirectorOptions" multiple="multiple" >
                    </select>
                }
                <span asp-validation-for="@Model.DirectorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GenreIds" class="control-label"></label>
                @if (Model.GenreOptions != null)
                {
                    <select class="genresSelect js-states form-control w-100" asp-for="@Model.GenreIds" asp-items="@Model.GenreOptions" multiple="multiple">
                    </select>
                }
                <span asp-validation-for="@Model.GenreIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>

</div>

<div>
    <a asp-page="../../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js">
    </script>
    <script type="text/javascript">
        $(function () {
            //$("#genresSelect").select2();
            $(".directorsSelect").select2({
                placeholder: "-- Select directors --",
                allowClear: true,
                closeOnSelect: false,
            });
            $(".genresSelect").select2({
                placeholder: "-- Select genres --",
                allowClear: true,
                closeOnSelect: false,
            });
        });
    </script>
}
