@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* --- SEARCH ---*@
<div>
    <form>
        <p style="height: 40px">
            <input class="w-50 h-100 pl-3" type="text" asp-for="SearchString" placeholder="Search movie by title..."/>
            <input class="h-100 p-1" type="submit" value="Search"/>
        </p>
    </form>
    <hr>
</div>

@* --- FILTERING SIDEBAR AND MOVIES *@
<div class="row">
    <aside class="col-md-3" style="transform: translate(-100%)">
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Price range</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="form-row">
                            <form asp-page-handler="FilterByPrice" method="post">
                                <label>Min</label>
                                <input type="number" class="form-control" name="priceFrom" placeholder="0" />
                                <label>Max</label>
                                <input type="number" class="form-control" name="priceTo" placeholder="..." />
                                <br />
                                <input type="submit" style="width: 100%;" value="Filter" />
                            </form>
                        </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Directors</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="custom-control">
                            @foreach (var director in Model.Directors)
                            {
                                <form asp-page-handler="FilterByDirector" method="post">
                                    <a href="javascript:;" onclick="parentNode.submit();">@director.Name</a>
                                    <input type="hidden" asp-for="@director.Name" name="director" />
                                </form>
                            }
                        </div> <!-- form-check.// -->
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Genres</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="custom-control">
                            @foreach (var genre in Model.Genres)
                            {
                                <form asp-page-handler="FilterByGenre" method="post">
                                    <a href="javascript:;" onclick="parentNode.submit();">@genre.Name</a>
                                    <input type="hidden" asp-for="@genre.Name" name="genre" />
                                </form>
                            }
                        </div> <!-- form-check.// -->
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Rating</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="custom-control">
                            <form asp-page-handler="FilterByRating" method="post">
                                <input type="range" style="width: 80%;" name="rating" min="0" max="5" step="0.1" value="0" oninput="this.nextElementSibling.value = this.value">
                                <output>0</output>
                                <br />
                                <input type="submit" style="width: 100%; margin-top: 5px;" value="Filter" />
                            </form>
                        </div> <!-- form-check.// -->
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
    <aside class="col-md-9" style="transform: translate(-30%)">
        @foreach (var movie in Model.Movies)
        {
            <div class="row p-3 bg-white border rounded mb-4 h-auto shadow-sm" style="width: 130%;">
                <div class="col-md-3">
                    <img class="rounded w-100" src="@Html.DisplayFor(modelItem => movie.PictureUri)"/>
                </div>
                <div class="col-md-6 mt-2">
                    <h4><a asp-page="/Movies/MovieDetail" asp-route-slug="@movie.Slug">@Html.DisplayFor(modelItem => movie.Title)</a></h4>
                    <div class="d-flex flex-row">
                        <div>@Html.DisplayFor(modelItem => movie.Duration) min</div>
                        <div class="ratings mr-2"><i class="fa fa-star"></i></div><span>@Html.DisplayFor(modelItem => movie.Rate)</span>
                    </div>
                    <p class="text-justify summary mb-0">
                        <br><br>
                        @Html.DisplayFor(modelItem => movie.Summary)
                    </p>
                    <div class="card-middle-form w-100">
                        <form asp-page-handler="AddToCompare" method="post">
                            <button class="btn btn-outline-primary btn-sm" type="submit">Add to Compare</button>
                            <input type="hidden" asp-for="@movie.Id" name="movieId" />
                        </form>
                        <form asp-page-handler="AddToFavorites" method="post">
                            <button class="btn btn-outline-primary btn-sm" type="submit">Add to favorites</button>
                            <input type="hidden" asp-for="@movie.Id" name="movieId" />
                        </form>
                    </div>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row">
                        <h3 class="mr-1">$@Html.DisplayFor(modelItem => movie.UnitPrice)</h3>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column justify-content-center" style="margin-top: 5rem;">
                        <form class="w-100" asp-page="/Movies/MovieDetail" method="get">
                            <button class="btn btn-primary btn-md" type="submit" style="width: 100%;">Details</button>
                            <input type="hidden" asp-for="@movie.Slug" name="slug" />
                        </form>
                        <form class="w-100" asp-page-handler="AddToCart" method="post">
                            <button class="btn btn-outline-primary btn-md mt-2 w-100" type="submit">Add to Cart</button>
                            <input type="hidden" asp-for="@movie.Id" name="movieId" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </aside> <!-- col.// -->
</div> <!-- row.// -->