@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().PictureUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    <a asp-page="/Movies/MovieDetail" asp-route-slug="@movie.Slug">
                        <img src="@Html.DisplayFor(modelItem => movie.PictureUri)" alt="Movie image" style="width: 300px; height: 400px;" />
                    </a>
                </td>
                <td>
                    <a asp-page="/Movies/MovieDetail" asp-route-slug="@movie.Slug">@Html.DisplayFor(modelItem => movie.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.UnitPrice)
                </td>
                <td>
                    <a asp-page="/Movies/MovieDetail" asp-route-slug="@movie.Slug">Movie Details</a> |
                    <form asp-page-handler="AddToCompare" method="post">
                        <a href="javascript:;" onclick="parentNode.submit();">Add To Compare</a> |
                        <input type="hidden" asp-for="@movie.Id" name="movieId" />
                    </form>
                    <form asp-page-handler="AddToCart" method="post">
                        <a href="javascript:;" onclick="parentNode.submit();">Add To Cart</a> |
                        <input type="hidden" asp-for="@movie.Id" name="movieId" />
                    </form>
                    <form asp-page-handler="AddToFavorites" method="post">
                        <a href="javascript:;" onclick="parentNode.submit();">Add To Favorites</a>
                        <input type="hidden" asp-for="@movie.Id" name="movieId" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
