@page
@model MovieLand.Web.Pages.Movies.MovieDetailModel
@{
    ViewData["Title"] = "Movie Detail";
}

<h1>Movie Detail</h1>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.PictureUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => Model.Movie.PictureUri)" alt="Movie image" style="width: 300px; height: 400px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Movie.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Movie.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Movie.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Movie.UnitPrice)
            </td>
            <td>
                <a asp-page="./Compare/AddToCompare" asp-route-id="@Model.Movie.Id">AddToCompare</a> |
                <a asp-page="./Cart/AddToCart" asp-route-id="@Model.Movie.Id">AddToCart</a> |
                <a asp-page="./Favorites/AddToFavorites" asp-route-id="@Model.Movie.Id">AddToFavorites</a>
            </td>
        </tr>
    </tbody>
</table>

<h2>REVIEWS:</h2>
<ul>
    @foreach (var review in Model.Movie.Reviews)
    {
        <li>
            @review.Username: @review.Comment
        </li>
    }
</ul>

<form asp-page-handler="AddReviewToMovie" method="post">
    <input type="email" asp-for="@Model.ReviewForm.Email" placeholder="Enter your email..." />
    <input type="text" asp-for="@Model.ReviewForm.Comment" placeholder="Enter your comment here..." />
    <input type="range" asp-for="@Model.ReviewForm.Rate" min="0" max="5" step="0.1" value="0" oninput="this.nextElementSibling.value = this.value">
    <output>0</output>
    <input type="hidden" asp-for="@Model.Movie.Id" name="movieId" />
    <input type="hidden" asp-for="@Model.Movie.Slug" name="movieSlug" />

    <input type="submit" value="Submit">
</form>
