@page
@model MovieLand.Web.Pages.Order.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().DateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().GrandTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
